# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
build.zip
build/
node_modules/
.DS_Store
public/.DS_Store
public/img/kenzoinfotech-home-page-III.mov
/public/img/kenzoinfotech-home-page-III.mov
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
